@using CoreDrink.WebUI.ViewModels
@model DrinkListViewModel
<div>
    <h3>İçecek Listesi</h3>
</div>
<h1>@Model.CurrentCategory</h1>
@foreach (var drink in Model.Drinks)
{
    <div>
        <h4>İçecek: @drink.Name</h4>
        <p>Price: @drink.Price₺</p>
    </div>
}