@model DrinkListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "İçecekler";
}
<div class="col-md-12">
    <h3>@Model.CurrentCategory</h3>
</div>

@{
    foreach (Drink drink in Model.Drinks)
    {
        @await Html.PartialAsync("DrinksSummary",drink)
    }
}