@{ViewData["Title"] = "Bize Ulaşın";}
<h1>Bize Ulaşın</h1>
<p>Eğer Bir Sorun Yaşıyorsanız Bizim İletişime Geçebilirsiniz:</p>
<email address="dotnet-how@outlook.com" content="Eposta Adresimiz"></email>